div div {
    background-color: black;
  }
body {
  background-color: rgb(255, 225, 240);
  font-family: 'Bad Script';
  text-align: center;
  font-size: 20px;
}
img {
  height: 100px;
  width: 275px;
}
.icon {
  padding-top: 35px;
  margin-left: 60px;
  height: 65px;
  width: 35px;
}
table {
  border: 1px solid black;
}
.carousel-item {
  height: 300px;
}
.pic {
  height: 300px;
}
td {
  height: 300px;
  width: 2000px;
}
.subheading {
  font-weight: bolder;
  font-size: 25px;
}
